<ion-card>
<ion-list>
  <ion-item class="activated">
    <ion-label>Temperature:&nbsp;{{weather.temp}}&deg;</ion-label>
  </ion-item>
  <ion-item class="activated">
    <ion-label>Temperature Max: &nbsp;{{weather.temp_max}}&deg;</ion-label>
  </ion-item>
  <ion-item class="activated">
    <ion-label>Temperature Min: &nbsp;{{weather.temp_min}}&deg;
    </ion-label>
  </ion-item>
  <ion-item class="activated">
    <ion-label>Relative Humidity:&nbsp;{{weather.humidity}}%
    </ion-label>
  </ion-item>
  <ion-item class="activated">
    <ion-label>Pressure: &nbsp;{{weather.pressure}}hpa</ion-label>
  </ion-item>
</ion-list>
</ion-card>